  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  background: rgba(217, 217, 217, 0.70);
  margin-left: .3%;
  margin-right: .6%;
}



.navbar p{
color: #000;
font-size: 2.5rem;
font-family: "Kaushan Script";
font-style: normal;
font-weight: 400;
line-height: normal;
margin: .3rem 0 .3rem 10.5rem;
}
.contenedor-boton__navbar{
display: flex;
justify-content: space-between;
width: 50%;
padding-right: 10.5rem;
}

.contenedor-boton__navbar button{
  border: 3px solid var(--tab-blue, #13A9E9);
  background: #D9D9D9;
  width:fit-content;
  height: fit-content;
  padding: .3rem .6rem;
  border-radius: .3rem;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.contenedor-naranja{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: .8rem;
  opacity: 0.8999999761581421;
  background: var(--tab-orange, #F16C0B);
  width: 50vw;
  height: 17vh;
  margin-top: 53vh;
  margin-left: 26vw;;
}

.contenedor-naranja p{
  color: #FFF;
  text-align: center;
  font-size: 1.48rem;
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contenedor-naranja div{
  width: .1rem;
height: 5.5rem;
background-color: #FFF;
}